<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ECommerceEntities" connectionString="metadata=res://*/ECommerce.csdl|res://*/ECommerce.ssdl|res://*/ECommerce.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-KL3VEUU;initial catalog=ECommerce;integrated security=True;encrypt=False;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>